
<button type="button" class="list-group-item" id="singer-queue" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="right" title="{{this.name}}" data-content="Song: '{{this.searched_songs}}'">{{this.nickname}}</button>

