<div class="list-group-item flex-column align-items-start">
	<div class="row">
		<div class="col-md-4">
			
				<p>{{this.name}}</p>
			
				<p>{{this.nickname}}</p>
			
				<p>{{this.email}}</p>

				<p>{{this.phone}}</p>
			</div>
	</div>	
</div>