

<div class="container" id="user-button-div">
	<div class="container" id="user-button">
		<a href="/add"></a><button type="button" class="btn btn-success btn-lg" id="user-add">User Data</button>
	</div>
</div>

<div class="container" id="queue">
	<div class="list-group">
			{{#each Singers}}
			{{> list_delete}}
			{{/each}}
	</div>
</div>

<script type="text/javascript">
	$(".deleteSong").on('click', function(event){
		var id = $(this).data("id");
		$.ajax({
			method: "DELETE",
		    url:"/api/singers/" + id, 
		}).then(
		function(){
			console.log("deleted song", id);
			location.reload();
		});
	})
</script>