

<div class="container" id="user-button-div">
	<div class="container" id="user-button">
		<a href="/add"></a><button type="button" class="btn btn-success btn-lg" id="user-add">User Data</button>
	</div>
</div>

<div class="container" id="queue">
	<div class="list-group">
		{{#each Singers}}
		{{> list}}
		{{/each}}
	</div>
</div>