{{!-- log in button --}}
<div class="container" id="user-button-div">
	<div class="container" id="user-button">
		<a href="/add"></a><button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#loginModal" id="user-add">Log in here!</button>
	</div>
</div>
{{!-- sign up button --}}
<div class="container" id="user-button-div">
	<div class="container" id="user-button">
		<a href="/add"></a><button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#signupModal" id="user-add">Sign in here!</button>
	</div>
</div>
{{!-- login modal --}}
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="modalLongTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalTitle">Enter your information</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
      		</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="email">Email address</label>
						<input type="email" class="form-control" id="inputEmailLogin" aria-describedby="emailHelp">
						<small class="errorEmail">Please Enter The Correct Email *</small>
					</div>
					<div class="form-group">
						<label for="pass">Password</label>
						<input type="password" class="form-control" id="inputPassLogin">
						<small class="errorPass">Please Enter The Correct Password *</small>
					</div>
					<button type="button" class="btn btn-primary sub-btn-login" id="submit">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>

{{!-- sign up modal --}}
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="modalLongTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalTitle">Enter your information</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
      		</div>
			<div class="modal-body">
				<form action="/api/admins" method="POST" role="form">
					<div class="form-group">
						<label for="name">Name</label>
						<input type="name" class="form-control" id="inputNameSignup">
						<small class="errorName">Please Enter Your Name *</small>
					</div>
					<div class="form-group">
						<label for="email">Email address</label>
						<input type="email" class="form-control" id="inputEmailSignup" aria-describedby="emailHelp">
						<small class="errorEmail">Please Enter Your Email *</small>
					</div>
					<div class="form-group">
						<label for="pass">Password</label>
						<input type="password" class="form-control" id="inputPassSignup">
						<small class="errorPass">Please Enter Your Password *</small>
					</div>
					<button type="button" class="btn btn-primary sub-btn-signup" id="sub">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	
	$('.sub-btn-signup').on('click', function(event){
		event.preventDefault();

		const name = $('#inputNameSignup').val();
		const email = $('#inputEmailSignup').val();
		const pass = $('#inputPassSignup').val();

			function validation(){
				return (name !== '' && email !== '' && pass !=='');
			}

				const newAdmin = {
					name: $('#inputNameSignup').val().trim(),
					email: $('#inputEmailSignup').val().trim(),
					pass: $('#inputPassSignup').val().trim()
				}

				if (validation()){

				console.log(newAdmin);
				$.post("/api/admins", newAdmin).then(function(data){
					alert('Adding User');
					console.log(data);
					$('#signupModal').modal('hide');
				})

				$('.errorName').hide();
				$('.errorEmail').hide();
				$('.errorPass').hide();

			    } else {

				if ($('#inputNameSignup').val() === ""){
					$('.errorName').show();
				}
				if ($('#inputEmailSignup').val() === "") {
					$('.errorEmail').show();
				}
				if ($('#inputPassSignup').val() === ""){
					$('.errorPass').show();
				}
			}

	})

	$('.sub-btn-login').on('click', function(event){
		event.preventDefault();

		const loginUser = {
		 email:$('#inputEmailLogin').val().trim(),
		 pass: $('#inputPassLogin').val().trim()
		}


		function validation(){
				return (loginUser.email !== '' && loginUser.pass !== '');
			}
	

			console.log(validation());

		if(validation()){
			$.ajax('/api/login', {
				type: "POST",
				data: loginUser
			}).then(
			function(data){
				window.location.replace("/admin_access");
			})
			$('#loginModal').modal('hide');
			
			$('.errorName').hide();
			$('.errorEmail').hide();
			$('.errorPass').hide();

		} else {
			if ($('#inputEmailLogin').val() === "") {
				$('.errorEmail').show();
			}
			if ($('#inputPassLogin').val() === ""){
				$('.errorPass').show();
			}
		}

	})
</script>