
{{!-- display page --}}

{{!-- <div class="spotify-display">
	<iframe src='https://open.spotify.com/embed?uri=spotify:track:' + uri +  "width='300' height='80' frameborder='0'" allowtransparency='true' allow='encrypted-media'></iframe>
</div>

<div class="lyrics-display">
	{{}}
</div> --}}