{{!-- display page --}}

<div class="container">
	<div class="jumbrotron">
		<h1>A Karaoke App to Be Named Later</h1>
		<h3>Search and sing your favorite tunes!</h3>
	</div>
</div>

<div class="spotify-display">
	{{}}
</div>

<div class="lyrics-display">
	{{}}
</div>