<div class="container" id="user-button-div">
	<div class="container" id="user-button">
		<a href="/add"></a><button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#userModal" id="user-add">Sign up here!</button>
	</div>
</div>

<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="modalLongTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalTitle">Enter your information</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
      		</div>
			<div class="modal-body">
				<form action="/api/users" method="POST" role="form">
					<div class="form-group">
						<label for="name">Full Name</label>
						<input type="name" class="form-control" id="inputName">
						<small id="errorName">Please Enter Your Name *</small>
					</div>
					<div class="form-group">
						<label for="name">Nickname</label>
						<input type="nickname" class="form-control" id="inputNickname">
						<small id="errorNickname">Please Enter Your NickName *</small>
					</div>						
					<div class="form-group">
						<label for="email">Email address</label>
						<input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
						<small id="errorEmail">Please Enter Your Email *</small>
					</div>
					<div class="form-group">
						<label for="phone">Phone Number</label>
						<input type="phone" class="form-control" id="inputPhone">
						<small id="errorPhone">Please Enter Your Phone *</small>
					</div>
					<div class="form-group">
						<label for="song">Song Request</label>
						<input type="song" class="form-control" id="inputSong">
						<small id="errorSong">Please Enter Your Song *</small>
					</div>
					<button type="button" class="btn btn-primary sub-btn" id="submit">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="container" id="queue">
	<div class="list-group">
		{{#each Users}}
		{{> list}}
		{{/each}}
	</div>
</div>

<script type="text/javascript">
	$('.sub-btn').on('click', function(event){
		event.preventDefault();

			const name = $('#inputName').val();
			const nickname = $('#inputNickname').val();
			const email = $('#inputEmail').val();
			const phone = $('#inputPhone').val();
			const song_request = $('#inputSong').val();

			const newUser= {
					name: $('#inputName').val().trim(),
					nickname: $('#inputNickname').val().trim(),
					email: $('#inputEmail').val().trim(),
					phone: $('#inputPhone').val().trim(),
					song_request: $('#inputSong').val().trim()
				}


			function validation(){
				return (name !== '' && nickname !== '' && email !== '' && phone !== '' && song_request !== '');
			}

			if (validation()){
				console.log(newUser);
				$.post("/api/users", newUser).then(function(data){
					alert('Adding User');
					console.log(data);
				})

			$('.list-group').append('<button type="button" class="list-group-item" id="singer-queue" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="right" title data-content="Song: ' + song_request + '" data-original-title="' + name +  '">' + nickname + '</button>')


				$('#userModal').modal('hide');

			} else {

				if ($('#inputNickname').val() === ""){
					$('#errorNickname').show();
				}
				if ($('#inputEmail').val() === "") {
					$('#errorEmail').show();
				}
				if ($('#inputPhone').val() === ""){
					$('#errorPhone').show();
				}
				if ($('#inputSong').val() === ""){
					$('#errorSong').show();
				}
			}

			     $('#inputName').val("");
				 $('#inputNickname').val("");
				 $('#inputEmail').val("");
				 $('#inputPhone').val("");
				 $('#inputSong').val("");

	})

</script>