<p class="lead">Sign up to sing your favorite tunes!</p>
<div class="container" id="user-button-div">
	<div class="container" id="user-button">
		<a href="/add"></a><button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#userModal" id="user-add">Sign up here!</button>
	</div>
</div>

<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="modalLongTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalTitle">Enter your information</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
      		</div>
			<div class="modal-body">
				<form action="/api/users" method="POST" role="form">
					<div class="form-group">
						<label for="name">Full Name</label>
						<input type="name" class="form-control" id="inputName">
						<small class="errorName">Please Enter Your Name *</small>
					</div>
					<div class="form-group">
						<label for="name">Nickname</label>
						<input type="nickname" class="form-control" id="inputNickname">
						<small class="errorNickname">Please Enter Your NickName *</small>
					</div>						
					<div class="form-group">
						<label for="email">Email address</label>
						<input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
						<small class="errorEmail">Please Enter Your Email *</small>
					</div>
					<div class="form-group">
						<label for="phone">Phone Number</label>
						<input type="phone" class="form-control" id="inputPhone">
						<small class="errorPhone">Please Enter Your Phone *</small>
					</div>
					<div class="form-group">
						<label for="song">Song Request</label>
						<input type="song" class="form-control" id="inputSong">
						<small class="errorSong">Please Enter Your Song *</small>
					</div>
					<button type="button" class="btn btn-primary sub-btn" id="submit">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="container" id="queue">
	<div class="list-group">
		{{#each Users}}
		{{> list}}
		{{/each}}
	</div>
</div>

<script type="text/javascript">

	$('.sub-btn').on('click', function(event){
		event.preventDefault();

			const name = $('#inputName').val();
			const nickname = $('#inputNickname').val();
			const email = $('#inputEmail').val();
			const phone = $('#inputPhone').val();
			const song_request = $('#inputSong').val();

			const newUser= {
					name: $('#inputName').val().trim(),
					nickname: $('#inputNickname').val().trim(),
					email: $('#inputEmail').val().trim(),
					phone: $('#inputPhone').val().trim(),
					song_request: $('#inputSong').val().trim()
				}


			function validation(){
				return (name !== '' && nickname !== '' && email !== '' && phone !== '' && song_request !== '');
			}

			if (validation()){
				console.log(newUser);
				$.post('/api/singers', newUser).then(function(data){
					console.log("singer added");
				})
				$.post("/api/users", newUser).then(function(data){
					alert('Adding User');
					console.log(data);
				
					const queryURL = 'https://itunes.apple.com/search?term=' + newUser.song_request + '&media=music&entity=song&limit=1'
			
					$.ajax({
						url: queryURL,
						method: "GET",
						dataType: 'json'
					}).done(function(response) {
						console.log(response);

						$('#artist').append(response.results[0].artistName);
						$('#album').append(response.results[0].collectionName);
						$('#country').append(response.results[0].country);
						$('#genre').append(response.results[0].primaryGenreName);
						$('#album-cover').attr('src', response.results[0].artworkUrl100);
						$('#album-cover').attr('alt', "album cover");
					})
				})

				 $('#inputName').val("");
				 $('#inputNickname').val("");
				 $('#inputEmail').val("");
				 $('#inputPhone').val("");
				 $('#inputSong').val("");

				$('#inputName').hide();
				$('#inputNickname').hide();
				$('#inputEmail').hide();
				$('#inputPhone').hide();
				$('#inputSong').hide();

				$('#userModal').modal('hide');

			} else {
				if ($('#inputName').val() === ""){
					$('.errorName').show();
					$('#inputName').val("");
				}
				if ($('#inputNickname').val() === ""){
					$('.errorNickname').show();
					$('#inputNickname').val("");
				}
				if ($('#inputEmail').val() === "") {
					$('.errorEmail').show();
					$('#inputEmail').val("");
				}
				if ($('#inputPhone').val() === ""){
					$('.errorPhone').show();
					$('#inputPhone').val("");
				}
				if ($('#inputSong').val() === ""){
					$('.errorSong').show();
					$('#inputSong').val("");
				}
			}
	})

</script>