<div class="container" id="user-button-div">
	<div class="container" id="user-button">
		<a href="/add"></a><button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#userModal" id="user-add">Sign up here!</button>
	</div>
</div>

<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="modalLongTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalTitle">Enter your information</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
      		</div>
			<div class="modal-body">
				<form action="/api/users" method="POST" role="form">
					<div class="form-group">
						<label for="name">Full Name</label>
						<input type="name" class="form-control" id="inputName">
					</div>
					<div class="form-group">
						<label for="name">Nickname</label>
						<input type="name" class="form-control" id="inputNickname">
					</div>						
					<div class="form-group">
						<label for="email">Email address</label>
						<input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
					</div>
					<div class="form-group">
						<label for="phone">Phone Number</label>
						<input type="phone" class="form-control" id="inputPhone">
					</div>
					<div class="form-group">
						<label for="song">Song Request</label>
						<input type="song" class="form-control" id="inputSong">
					</div>
					<button type="submit" class="btn btn-primary sub-btn" id="submit">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="container" id="queue">
	<div class="list-group">
		<button type="button" class="list-group-item list-group-item" id="singer-queue"data-container="body" data-toggle="popover" data-trigger="focus" data-placement="right" title="Matt Scuteri" data-content="Song: 'More Than a Feeling">
			<h4 style="font-weight: bold;">Up now:</h4>
			<h5>Matt</h5>
		</button>
		<button type="button" class="list-group-item" id="singer-queue"data-container="body" data-toggle="popover" data-trigger="focus" data-placement="right" title="Ralph Esposito" data-content="Song: 'I've Got A Lovely Bunch of Coconuts'">
			<h5 style="font-weight: bold;">Up next:</h5>
			<h6>Ralph</h6>
		</button>
		<button type="button" class="list-group-item" id="singer-queue" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="right" title="Vincent Cavallaro" data-content="Song: 'The Name Game'">Vin</button>
		<button type="button" class="list-group-item" id="singer-queue" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="right" title="Vraj Dalal" data-content="Song: 'Chicken Fried'">Vraj</button>
		{{#each Users}}
		{{> list}}
		{{/each}}
	</div>
</div>

<script type="text/javascript">
	$('.sub-btn').on('click', function(event){
		event.preventDefault();
			// console.log($('#inputName').val());
			// console.log($('#inputNickname').val());
			// console.log($('#inputEmail').val());
			// console.log($('#inputPhone').val());

				const newUser= {
					name: $('#inputName').val().trim(),
					nickname: $('#inputNickname').val().trim(),
					email: $('#inputEmail').val().trim(),
					phone: $('#inputPhone').val().trim(),
					song_request: $('#inputSong').val().trim()
				}
				console.log(newUser);
				$.post("/api/users", newUser).then(function(data){
					alert('Adding User');
					console.log(data);
				})

				 $('#inputName').val("")
				 $('#inputNickname').val("")
				 $('#inputEmail').val("")
				 $('#inputPhone').val("")
				 $('#inputSong').val("")


		$('.list-group').append('<button type="button" class="list-group-item" id="singer-queue" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="right" title data-content="Song: ' + song_request + '" data-original-title="' + name +  '">' + nickname + '</button>')
	
		$('[data-toggle="popover"').popover({
			trigger: 'focus'
		});

		$('#userModal').modal('hide');
	})
</script>