body {
	background-image: url(../images/backgroundCrowd.jpg);
	background-size: cover;
}

.display-4 {
	font-weight: bold;
	font-family: Poppins;
	text-align: center;
	color: white;
}

.lead {
	text-align: center;
	font-family: Poppins;
	font-size: 36px;
	color: white;
}

#user-button-div {
	padding-top: 40px;
	margin-bottom: 25px;
}

#user-button {
	display: flex;
	justify-content: center;
	align-items: center;
}

#user-add {
	box-shadow: 2px 3px #145A32;
}

#submit {
	background-color: #28a745;
	border-color: #28a745;
}

.modal-content {
	font-family: Poppins;
}

#queue {
	width: 80%;
	padding-top: 50px;
}

.list-group-item {
	font-family: Poppins;
	color: white;
	padding: 10px;
	margin: 5px;
	border-width: 2px;
	border-color: white;
	background-color: #000B00;
}

#user-header {
	font-weight: bold;
}

#song-stats {
	padding: 5px;
	margin: 5px;
	list-style-type: none;
	font-size: 20px;
}

#album {
	font-weight: bold;
	padding-bottom: 20px;
}

#country {
	font-weight: bold;
	padding-bottom: 20px;
}

#genre {
	font-weight: bold;
}

#album-cover {
	float: right;
	padding-right: 100px;
	border-color: white;
	border-width: 5px;
}
.list-group-user{
	margin-top: 20px;
	margin-bottom: 20px;
}

img {
	height: 100%;
	width: 100%;
}
.errorName, .errorNickname, .errorEmail, .errorPhone, .errorSong, .errorPass{
	color:red;
	display: none;
}